        /* https://css-tricks.com/snippets/css/sticky-footer/ */

        /* Sticky Footer with calc()*/

        .wrapper {
          min-height: calc(100vh - 50px);
      }

      .footer {
          /* height: 50px; */
          background: #c9ce9f;
      }

  .label {
    font-weight: bold;
  }
   */
  
  .form-group {
    margin-bottom: 5px;
  }
  .index {
    display: inline-block;
  }
  .task-display{
    display: inline-block;
    max-width:60%;
    /* float: left; */
  }

  .button-display{
    display: block;
    float: right;
  }


  .uncomplete {
    background:#fe8585
  }

  .complete {
    background:#5ebd1e;
  }

  .add-task {
    background:#e29d26
  }

 h2 {
    color:white
  }